body {
    margin: 0;
    text-align: center;
}

.box {
    margin: 0 auto;
    padding: 20px;
    width: 700px;
    background-color: rgb(117, 181, 249);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(122, 121, 121);
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgb(168, 187, 203);
}

#formContainer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#input {
    width: 500px;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(122, 121, 121);
    border-radius: 20px;
    padding-left: 10px;
    font-size: 17px;
}

#input:focus {
    outline: none;
    border-color: rgb(4, 80, 187);
}

#btn {
    width: 100px;
    height: 115%;
    background-color: rgb(25, 114, 210);
    color: white;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(122, 121, 121);
    border-radius: 20px;
    font-size: 17px;
}

#btn:hover {
    cursor: pointer;
    background-color: rgb(37, 129, 228);
}


#resultContainer {
    position: relative;
    width: 100%;
    height: 250px;
    background: none
}

#display {
    cursor: pointer;
    position: absolute;
    left: 37px;
    top: 0;
    width: 250px;
    height: 250px;
    border: none;
    background-color: white;
}

#downloadBTN {
    position: absolute;
    right: 37px;
    top: 10px;
    width: 300px;
    height: 40px;
    background-color: rgb(19, 255, 2);
    color: rgb(51, 50, 50);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(122, 121, 121);
    border-radius: 5px;
    font-size: 17px;
}

#downloadBTN:hover {
    cursor: pointer;
    background-color: rgb(58, 245, 44);
}

#copyBTN {
    position: absolute;
    right: 37px;
    top: 70px;
    width: 300px;
    height: 40px;
    background-color: yellow;
    color: rgb(51, 50, 50);
    border-style: solid;
    border-width: 1px;
    border-color: rgb(122, 121, 121);
    border-radius: 5px;
    font-size: 17px;
}

#copyBTN:hover {
    cursor: pointer;
    background-color: rgb(247, 247, 42);
}